

<h1 class = "w-full text-center text-2xl font-semibold text-gray-600 my-2">Home</h1>
<%= render "form" %>

<div id="tweets">
  <% @tweets.where(parent: nil).order(created_at: :desc).each do |tweet|%>
    
    <%= render tweet %>
   
  <% end %>
</div>

